<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Collaborative Adventures!</title>
    <%= stylesheet_link_tag 'cover.css' %>
    <%= stylesheet_link_tag 'bootstrap.min.css' %>



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>


          <div class="inner cover">
            <h1 class="cover-heading">Welcome to Collaborative Adventures!</h1>
              <br/>
              <p class="lead">Take a step into the most exciting text adventures of your life. <br/> Collaborate on adventures started by others, or create your own, if you dare.</p>
            <p class="lead">
                <br/>
              <a href="#" class="btn btn-lg btn-default">Enter</a>
            </p>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" %>
    <%= javascript_include_tag :defaults %>
  </body>
</html>
